#app{
  width: 100vw;
  height: 100vh;
  background-color: black;
 
}

h1{
  display: flex;
  justify-content: center;
  color:  white;
  margin: 0;
  padding: 30px;
}

#todoSearchContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
 width: 50%;
 height: 50px;
 border-radius: 10px;
 font-size: 20px;
 padding-left: 20px;
}

#listContainer{
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}

ul{
  width: 50%;
  padding: 0%;
}


li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

li:hover {
  background-color: #f0f0f0;
}

li span {
  font-size: 1.5em;
  color: #333;
  cursor: pointer;
  user-select: none;
}

li p {
  flex: 1;
  margin: 0 10px;
  color: #555;
  font-size: 1em;
}

li span:first-child {
  color: green;
}

li span:last-child {
  color: red;
}

#buttonContainer{
  display: flex;
  justify-content: center;
}

button{
  width: 50%;
  height: 40px;
  border-radius: 10px;
  color: white;
  background-color: rgb(30, 169, 211);
  font-size: 1.5rem;;
}